body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #1e272e, #212121);
}

.container {
    text-align: center;
    color: #ecf0f1;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #2c3e50, #3498db, #27ae60, #e74c3c, #8e44ad);
    background-size: 300% 300%;
    animation: glowing 5s linear infinite;
    font-family: 'Quicksand', 'Helvetica', sans-serif;
}

@keyframes glowing {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

h1 {
    font-family: 'Pacifico', cursive;
}

.password-container {
    margin-top: 20px;
    position: relative;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 32px);
    box-sizing: border-box;
    padding: 10px 10px 10px 40px;
    margin: 10px 0;
    font-size: 1.2em;
    color: #3498db;
    background-color: #ecf0f1;
    border: 1px solid #3498db;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    position: relative;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #2980b9;
}

.password-input-container {
    position: relative;
}

.password-input-container img {
    position: absolute;
    bottom: 50%;
    right: 25px;
    transform: translateY(50%);
    cursor: pointer;
    width: 20px;
    height: auto;
    display: none;
}

.password-input-container img#password-open {
    display: none;
}

.password-input-container img#password-close {
    display: inline;
}

.generate-btn,
.copy-btn,
.check-btn {
    padding: 10px;
    font-size: 1.2em;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.generate-btn {
    background-color: #2ecc71;
}

.generate-btn:hover {
    background-color: #104124;
}

.copy-btn {
    background-color: #e74c3c;
}

.copy-btn:hover {
    background-color: #491b16;
}

.check-btn {
    background-color: #3498db;
}

.check-btn:hover {
    background-color: #1b5a7a;
}

.options {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.label-container,
.checkbox-container {
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #ecf0f1;
    font-family: 'Lato', 'Helvetica', sans-serif;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input {
    margin-right: 5px;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #3498db;
    border-radius: 50%;
    background-color: #ecf0f1;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkbox-container input:checked {
    background-color: #570f3e;
}

.checkbox-container label {
    font-size: 1em;
    color: #ecf0f1;
    font-family: 'Lato', 'Helvetica', sans-serif;
}

.cracking-time {
    margin-top: 10px;
    font-size: 1.2em;
    color: #ecf0f1;
    background-color: #34495e;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .generate-btn,
    .copy-btn,
    .check-btn {
        font-size: 1em;
    }

    .cracking-time {
        font-size: 1em;
    }
}
